[Unit]
Description=Archive backup
RequiresMountsFor=/mnt/data/userData
After=local-fs.target mount_drives.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 -u /usr/local/bin/archive_backup.py --scheduled
User=root
Group=root
Environment="PYTHONUNBUFFERED=1" "LANG=C.UTF-8" "LC_ALL=C.UTF-8"
StandardOutput=append:/var/log/archive_backup.log
StandardError=append:/var/log/archive_backup.log
TimeoutStartSec=30min